.head_img {
  height: 300px;
  width: 100%;
  z-index: -1;
}
.body_text {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 10px;
}
.intro_text {
  width: auto;
  color: #222;
  text-shadow: 0px 2px 3px #555;

  font-size: 1.5rem;
  display: flex;
  animation: type 4s steps(31);
  overflow: hidden;
  white-space: nowrap;
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 31ch;
  }
}
.index_button {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 10px;
}
.btn {
  display: flex;
  width: auto;
  padding: 30px;
  font-size: 20px;
  background-color: darkcyan;
  border: darkgreen;
  font-weight: bold;
  border-radius: 45px;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: antiquewhite;
  font-weight: bold;
}
